Repository skaut/Skautske-hospodareni, pull requests merged in 2020-10, with the labels that each got.

#1387 Oprava promazávání starých releasů
  build.xml
Labels: PR - Bugfix

#1479 Oprava přesouvání dokladů se skeny
  app/model/Cashbook/Cashbook/Chit.php
  tests/integration/Cashbook/Handlers/MoveChitsToDifferentCashbookHandlerTest.neon
  tests/integration/Cashbook/Handlers/MoveChitsToDifferentCashbookHandlerTest.php
Labels: Cashbook, PR - Bugfix

#1467 Aktivní tlačítko na export skenů dokladů, pouze pokud nějaké existují
  app/AccountancyModule/Components/Cashbook/ChitListControl.php
  app/AccountancyModule/Components/Cashbook/templates/ChitListControl.topPanel.latte
Labels: Cashbook

#1426 Kontrola že event je načtena
  app/AccountancyModule/CampModule/presenters/BasePresenter.php
  app/AccountancyModule/EventModule/presenters/BasePresenter.php
Labels: PR - Bugfix

#1480 Oprava failujících akceptačních testů po přístupu na přihlašovací stránku
  tests/_support/AcceptanceTester.php
Labels: PR - Bugfix

#1484 Oprava zobrazení tabulky účastníků
  app/AccountancyModule/Components/Participants/ParticipantList.php
  app/AccountancyModule/Components/Participants/templates/ParticipantList.latte
Labels: Bug, Participants

#1483 Přidat výsledek hospodaření do táborového pdf exportu
  app/model/Export/ExportService.php
  app/model/Export/templates/campReport.latte
Labels: Camp, Cashbook
