Repository skaut/Skautske-hospodareni, pull requests merged in 2020-02, with the labels that each got.

#1253 Odebrání zbytečného commandu po aktualizaci lint-staged
  package.json
Labels: Refactoring

#1243 Refactoring přídávání účastníků
  app/AccountancyModule/CampModule/presenters/ParticipantPresenter.php
  app/AccountancyModule/CampModule/templates/Participant/default.latte
  app/AccountancyModule/Components/Participants/PersonPicker.php
  app/AccountancyModule/Components/Participants/templates/PersonPicker.latte
  app/AccountancyModule/EventModule/presenters/ParticipantPresenter.php
  app/AccountancyModule/EventModule/templates/Participant/default.latte
  app/AccountancyModule/Factories/Participants/IPersonPickerFactory.php
  app/AccountancyModule/PaymentModule/presenters/BankAccountsPresenter.php
  app/AccountancyModule/Traits/ParticipantTrait.php
  app/model/Common/UnitId.php
  app/model/Unit/ReadModel/Queries/SubunitListQuery.php
  app/model/Unit/ReadModel/QueryHandlers/SubunitListQueryHandler.php
  app/model/Unit/UnitService.php
  app/templateBlocks/participants/js.latte
  app/templateBlocks/participants/list.latte
Labels: Participants, Refactoring

#1235 Zachycení chybějících kategorie v rozpočtu
  app/AccountancyModule/CampModule/Components/MissingAutocomputedCategoryControl.php
  app/AccountancyModule/CampModule/Components/templates/MissingAutocomputedCategoryControl.latte
  app/AccountancyModule/CampModule/Factories/IMissingAutocomputedCategoryControlFactory.php
  app/AccountancyModule/CampModule/presenters/BudgetPresenter.php
  app/AccountancyModule/CampModule/presenters/CashbookPresenter.php
  app/AccountancyModule/CampModule/templates/Budget/default.latte
  app/AccountancyModule/CampModule/templates/Cashbook/default.latte
  app/model/Cashbook/Exception/MissingCategory.php
  app/model/Cashbook/ReadModel/CategoryTotalsCalculator.php
  app/model/Event/Camp.php
  app/model/Event/Commands/Camp/ActivateAutocomputedCashbook.php
  app/model/Event/Handlers/Camp/ActivateAutocomputedCashbookHandler.php
Labels: PR - Bugfix

#1234 Bootstrap 4 - Travel module
  app/AccountancyModule/TravelModule/Components/CommandForm.php
  app/AccountancyModule/TravelModule/Components/EditTravelDialog.php
  app/AccountancyModule/TravelModule/presenters/CommandPresenter.php
  app/AccountancyModule/TravelModule/presenters/ContractPresenter.php
  app/AccountancyModule/TravelModule/presenters/DefaultPresenter.php
  app/AccountancyModule/TravelModule/presenters/VehicleListPresenter.php
  app/AccountancyModule/TravelModule/presenters/VehiclePresenter.php
  app/AccountancyModule/TravelModule/templates/Command/default.latte
  app/AccountancyModule/TravelModule/templates/Command/edit.latte
  app/AccountancyModule/TravelModule/templates/Contract/default.latte
  app/AccountancyModule/TravelModule/templates/Contract/detail.latte
  app/AccountancyModule/TravelModule/templates/Contract/new.latte
  app/AccountancyModule/TravelModule/templates/Default/detail.latte
  app/AccountancyModule/TravelModule/templates/Vehicle/new.latte
  app/AccountancyModule/TravelModule/templates/menu.latte
  frontend/icons.ts
Labels: Travel
